// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-size: 13pt;
  font-family: 'PT Sans';
}

body {
  background-color: #001621;
  color: #9b9fa2;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.links {
  font-variant: small-caps;
}


h1 {
  font-variant: small-caps;
  font-size: 20pt;
}

.edit_quote input {
  font-variant: small-caps; 
}

#search-form {
  float: right;
}
  
#search-box {
  font-family: "PT Sans Mono", monospace;
  font-size: 11pt;
}

.quote, .edit_quote {
  border: 1px dashed;
  clear: right;
  padding: 0.5em;
  
 
  .number {
    a {
      font-size: 50pt;
      float: right;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0.25em;
    }
  }
 
  .lines td, textarea {
    margin: 0.5em;
  }
  
  .lines td, .lines td a, textarea {
    font-family: "PT Sans Mono", monospace;
    font-size: 11pt;
  }
  
  .lines .action {
    font-style: italic;
  }
  
  .person {
    vertical-align: top;
    font-weight: bold;
    padding-right: 1.25em;
    text-align: right;
    min-width: 7em;
  }
  
  .links {
    float: right;
    clear: right;
  }  
}

