// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Code+Pro:400,700);

$font_family: 'Source Sans Pro';
$monospace_font_family: 'Source Code Pro';

//noinspection CssOverwrittenProperties
@mixin enforce-line-breaks {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

* {
  font-family: $font_family;
}

body {
  background-color: #001621;
  color: #9b9fa2;

  @media screen and (max-width: 700px) {
    max-width: 700px;
  }

  @media screen and (min-width: 900px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
  }

}

h2 {
  font-size: 300%;
}

p.alert {
  font-size: 120%;
}

.new_user {
  font-size: 150%;

  input {
    font-size: 100%;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.links {
  font-variant: small-caps;
}

h1 {
  font-variant: small-caps;
  font-size: 200%;
}

.edit_quote input {
  font-variant: small-caps;
}

#search-form {
  float: right;
}

#search-box {
  font-family: $monospace_font_family, monospace;
  font-size: 70%;
}

.quote, .edit_quote {
  @media screen and (min-width: 700px) {
    border: 1px dashed;
    clear: right;
    padding: 0.5em;
  }

  .number {
    a {
      @media screen and (max-width: 700px) {
        font-size: 200%;
      }
      @media screen and (min-width: 700px) {
        font-size: 250%;
        float: right;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0.25em;
      }
    }
  }

  .lines td, textarea {
    @media screen and (min-width: 700px) {
      margin: 0.5em;
    }
  }

  textarea {
    font-size: 100%;
    width: 98%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .lines td, .lines td a, textarea {
    font-family: $monospace_font_family, monospace;
    @include enforce-line-breaks;
  }

  .lines .action {
    font-style: italic;
  }

  .person {
    vertical-align: top;
    font-weight: bold;

    @media screen and (max-width: 700px) {
      text-align: right;
      min-width: 5em;
    }

    @media screen and (min-width: 700px) {
      padding-right: 1.25em;
      text-align: right;
      min-width: 7em;
    }
  }

  .links {
    float: right;
    clear: right;
  }
}

